.App {
  text-align: center;
  padding: 20px;
}
.search{
  padding: 15px;
  margin-left: -5%;
}

.input{
  width: 80%;
  height: 50px;
  background-color: peachpuff;
  margin-left: 5%;}

.CardsBig{
  background-color: rgb(241, 238, 233);
  border-radius: 2px;
}

.card-body{
  background-color: rgb(255, 255, 255);
  border-radius: 8px 8px 8px 8px;
  margin: 12px;
}
.card-body:hover{
  background-color: bisque;
}

.App-link {
  color: #61dafb;
}


.status{
  border-radius: 30%;
  margin-top: -10%;
  margin-left: 30%;
  height: 25px;
  width: 70px;
}
