.App {
  text-align: center;
  color: rgb(0, 0, 0);
}
.conten{
  align-items: center;
  width: 30%;
}

.borde {
  padding: 10%;
  margin-top: 20px;
  background-color: rgb(238, 235, 235);
  border-radius: 8px;
  display: flexbox;
  color: #444f69;
  margin: 10px;
  width: 110%;
  height: 90%;
  margin-left: 15%;
}
.borde:hover{
  background-color: rgb(255, 255, 255);
}
/*  */
.position-absolute {
  border-radius: 5px;

  position: absolute;
  top: 30px;
  left: 30px;
}

.style-btn{
  border-radius: 8px;
  width: 70px;
}
.input {
  padding: 5px;
  border: white;
  border-radius: 3px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.7);
  width: 70%;  
  height: 50px;
  background-color: #7A4B3D;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.filter{
  color: #ffffff;
}
.img-fluid{
  border-radius: 80%;
  height: 170px;
  
}
.img-fluid:hover{
  border-radius: 80%;
  height: 173px;
  
}

.style-main{
  background-color: #7A4B3D;
  border-radius: 10px;
  width: 100%;
}
.d-flex{
  margin: 15px;
}

.text{
  color: rgb(255, 255, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
